    


.family {
    gap: 20px; /* Space between images */
    background-color: #f5f5f5;
}

.familyfram {
    position: relative; /* Needed for absolute positioning inside */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.familyImg {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* Overlay */
.familyfram:nth-child(1)::after {
    content: "";
    position: absolute;
    top: -5%;
    left: 0%;
    width: 100%;
    height: 105%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0, 0, 0, 0.7) 100%);
}

/* Positioning the text */
.familyfram .familyText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 54px;
    font-weight: bold;
    text-align: center;
    z-index: 2;
    border-radius: 5px;
}

/* Adjust margins for different images */
.familyfram:nth-child(1) .familyImg {
    margin-top: -50px;
    height: 103vh;
}

.familyfram:nth-child(3) .familyImg {
    margin-top: 50px;
    width: 50%;
    margin-bottom: 50px;
}

.familyfram:nth-child(2) .familyImg {
    margin-top: 50px;
    width: 50%;
    object-fit: contain;
}
