@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

    * {
        font-family: 'Montserrat', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: none;
        border: none;
        text-decoration: none;
        text-transform: capitalize;
        transition: all .2s linear;
    }

    .load_more_container {
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 25px 20px;
    }
    

    .load_more_container .heading {
        font-size: 40px;
        margin-bottom: 20px;
        color: #334;
    }

    .load_more_container .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 20px;
    }

    .box {
        display: none;
    }

    .box:nth-child(-n+3) {
        display: inline-block;
    }

    .load_more_container .box-container .box {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    }

    #load-more {
        display: none;
        cursor: pointer;
        padding: 10px 20px;
        background: #333;
        color: white;
        text-align: center;
        margin: 20px auto;
        width: fit-content;
        border-radius: 5px;
    }


    #show-less {
        display: none; /* Hide initially */
        cursor: pointer;
        padding: 10px 20px;
        background: #333;
        color: white;
        text-align: center;
        margin: 20px auto;
        width: fit-content;
        border-radius: 5px;
    }

    

    article {
        --img-scale: 1.001;
        --title-color: black;
        --link-icon-translate: -20px;
        --link-icon-opacity: 0;
        position: relative;
        border-radius: 16px;
        box-shadow: none;
        background: #fff;
        transform-origin: center;
        transition: all 0.4s ease-in-out;
        overflow: hidden;
    }

    article h2 {
        margin: 0 0 18px 0;
        font-family: "Bebas Neue", cursive;
        font-size: 1.9rem;
        letter-spacing: 0.06em;
        color: var(--title-color);
        transition: color 0.3s ease-out;
    }

    figure {
        margin: 0;
        padding: 0;
        aspect-ratio: 16 / 9;
        overflow: hidden;
        width: 100% !important;
        height: 100% !important;
    }

    figure img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.4s ease-in-out;
    }

    .article-body {
        padding: 24px;
    }

    article a {
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        color: #28666e;
    }

    article a .icon {
        min-width: 24px;
        width: 24px;
        height: 24px;
        margin-left: 5px;
        transform: translateX(var(--link-icon-translate));
        transition: all 0.3s;
    }

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }

    .col-lg-6 {
        flex: 1;
        display: flex;
    }

    .col-lg-6:first-child {
        justify-content: flex-start;
    }

    .col-lg-6:last-child {
        justify-content: flex-end;
    }

    .link,
    .read-more-btn {
        padding: 8px 10px;
        border-radius: 5px;
        text-decoration: none !important;
        color: rgb(0, 0, 0) !important;
        transition: background 0.2s ease-in-out;
    }

    /* Responsive for smaller screens */
    @media screen and (max-width: 960px) {
        article {
            container: inherit;
        }

        .article-body p {
            display: none;
        }

        figure {
            width: 100%;
            max-width: 100%;
            height: auto;
        }

        figure img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        .row {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .col-lg-6 {
            width: 100%;
            justify-content: center;
            margin-bottom: 10px;
        }
    }

    
    @media (max-width:450px) {
        .load_more_container .heading {
            font-size: 25px;
        }

        .load_more_container .box-container {
            grid-template-columns: 1fr;
        }

        .load_more_container .box-container .box .image {
            height: 200px;
        }

        .load_more_container .box-container .box .content p {
            font-size: 12px;
        }

        .load_more_container .box-container .box .content .icons span {
            font-size: 12px;
        }
    }

